// === COLORS ===
$text-color: #fff;
$body-background-color: #000;
$theme-color: #333;
$secondary-color: #fff;
$ternary-color: #999;
$link-color: $secondary-color;
$menu-item-color: #fff;

// === FONTS ===
$text-font: "Roboto", Arial, sans-serif;
$headline-font: "Lobster", Georgia, serif;

// === SIZES ===
$footer-height: 60px;